dual_autodiff_x/src/dual_autodiff_x/*.pyc
dual_autodiff_x/src/dual_autodiff_x/__pycache__/

dual_autodiff_x/src/dual_autodiff_x/*.c
dual_autodiff_x/src/dual_autodiff_x/*.pyd
dual_autodiff_x/build/

dual_autodiff_x/src/*.egg-info
dual_autodiff/*.egg-info

docs/_build/

